<!DOCTYPE html> 
<html>
<head><title>Lab7</title>
<link rel="stylesheet" type="text/css" href="/~bwilli18/css/week7.css"> 
</head>
<body>
<section>
<h1>Lab 7 home page</h1>
<p>This is my first app ever. It doesn't do anything yet.</p>
</section>
</body>
</html>